<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FourEyesMemoryMonitor.Properties.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="FourEyesMemoryMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="FourEyesMemoryMonitor.Properties.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <FourEyesMemoryMonitor.Properties.User>
            <setting name="ProcessName" serializeAs="String">
                <value />
            </setting>
            <setting name="MemoryThreshold" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PollInterval" serializeAs="String">
                <value>-1</value>
            </setting>
        </FourEyesMemoryMonitor.Properties.User>
        <FourEyesMemoryMonitor.Properties.Settings>
            <setting name="ProcessName" serializeAs="String">
                <value>AppLauncher</value>
            </setting>
            <setting name="MemoryThreshold" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PollInterval" serializeAs="String">
                <value>2</value>
            </setting>
        </FourEyesMemoryMonitor.Properties.Settings>
        <FourEyesMemoryMonitor.Properties.Default>
            <setting name="process_name" serializeAs="String">
                <value>AppLauncher</value>
            </setting>
        </FourEyesMemoryMonitor.Properties.Default>
    </applicationSettings>
</configuration>